
    body { font-family: Arial; padding: 20px; }
    
    .card {
      border: 1px solid #000000;
      padding: 15px;
      margin-top: 15px;
      border-radius: 6px;
      background: #f7f7f7;
      display: flex;
    }