/* this is a css reset - it fixes a weird box model problem */
*,
*::before,
*::after {
	box-sizing: border-box;
}

div {
    background-color: red;
    background-image: none;
    width: 150px;
    height: 150px;
    padding: 20px;
    margin: 50px;
}

#one {
    transition-property: background-image, width, height;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
    transition-delay: .3s;
}

#one:hover {
    background-image: url('donkey.jpg');
    width: 50px;
    height: 50px;

}

#two {
    transition-property: backgroun-color;
    transition-duration: 5s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

@keyframes multiColorChange {
      0% { background-color: blue; }
      25% { background-color: red; }
      50% { background-color: yellow; }
      75% { background-color: orange; }
      100% { background-color: pink; }
    }

#two:hover {
    animation-name: multiColorChange;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
}



@keyframes sizeChange {
        0% { width: 150px; height: 150px; }
        25% { width: 400px; height: 100px; }
        50% { width: 200px; height: 300px; }
        75% { width: 100px; height: 400px; }
        100% { width: 150px; height: 150px; }
    }

   

#three:hover {
    animation-name: sizeChange;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
}