/*
reset - this sets ALL elements to have zero padding and margin,
and to display in the more logical border-box style
*/

*,
*::before,
*::after {
  box-sizing: border-box;
	margin: 0;
	padding: 0;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(112,92,61);
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;

}

nav ul li a {
    display: block;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    color:rgb(53, 53, 53);
    font-family: 'Epunda Slab', serif;
    font-weight: 500;
}


nav ul li a.current {
    background-color: rgb(255, 198, 208);
    border: 2px solid rgb(53, 53, 53);
    width: 100px;
    border-radius: 20px;
    text-align: center;
    
}

.current:hover {
    transition-delay: 0.1s;
    background-color: rgb(179, 132, 153);
}

.boxed-text {
    border: 2px solid rgb(53, 53, 53);
    background-color: rgb(179,161,132);
    width: 100px;
    border-radius: 20px;
    text-align: center;

}

.boxed-text:hover {
    transition-delay: 0.1s;
    background-color: rgb(255, 198, 208);
}

@media screen and (min-width: 769px) {
    nav ul {
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    nav ul li:last-child {
        margin-left: auto;
        padding-right: 20px;
        flex-wrap: wrap;
    }
}

.search {
    border: 2px solid rgb(53, 53, 53);
    border-radius: 20px;
    padding: 5px;
    font-family: 'SUSE Mono', monospace;
}

/* Start of new CSS */

/* Adding to the demo button*/

.clickcount {
	border: 2px solid rgb(53, 53, 53);
	background-color: pink;
	width: 150px;
	text-align: center;
	font-family: 'Epunda Slab', serif;
	font-weight: 500;
	padding: 10px;
	margin: 10px;
	transition: background-color 0.3s ease;
    cursor: pointer;
}

.but {
    display: flex;
    align-items: center;
    transition: border;

}

/* clock */

    #clock {
        font-size: 3em;
        color: #333;
        background: #ffffff;
        display: inline-block;
        padding: 1px 2px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-height: 100dvh;
    }


/* color picker */
    label {
      font-size: 1.2em;
      margin-right: 10px;
    }
    input[type="color"] {
      width: 100px;
      height: 40px;
      border: none;
      cursor: pointer;
    }

